DATABASE_URL="postgres://"
POSTGRES_URL="postgres://"
PRISMA_DATABASE_URL="postgres://"

RESEND_API_KEY="re_"

STRIPE_SECRET_KEY="sk_test_"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_"
STRIPE_WEBHOOK_SECRET="whsec_"
STRIPE_SUCCESS_URL="http://localhost:3000/?paid"
STRIPE_CANCEL_URL="http://localhost:3000/?cancelled"

BETTER_AUTH_SECRET=grH...

GOOGLE_CLIENT_ID=378...
GOOGLE_CLIENT_SECRET=GOC...

GITHUB_CLIENT_ID=Ov2...
GITHUB_CLIENT_SECRET=2f5...

NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_APP_URL=http://localhost:3000