@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-nunito: "Nunito", sans-serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(20 14.3% 4.1%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(20 14.3% 4.1%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14.3% 4.1%);

    --primary: hsl(22 100% 50%);
    --primary-foreground: hsl(60 9.1% 97.8%);

    --secondary: hsl(32 100% 98%);
    --secondary-foreground: hsl(24 9.8% 10%);

    --muted: hsl(60 4.8% 95.9%);
    --muted-foreground: hsl(25 5.3% 44.7%);

    --accent: hsl(60 4.8% 95.9%);
    --accent-foreground: hsl(24 9.8% 10%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(60 9.1% 97.8%);

    --border: hsl(20 5.9% 90%);
    --input: hsl(0 0% 90%);
    --ring: hsl(24.6 95% 53.1%);
    --radius: 18px;

    --sidebar: hsl(0 0% 100%);
    --sidebar-foreground: hsl(20 14.3% 4.1%);
    --sidebar-primary: hsl(22 100% 50%);
    --sidebar-primary-foreground: hsl(60 9.1% 97.8%);
    --sidebar-accent: hsl(60 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(24 9.8% 10%);
    --sidebar-border: hsl(20 5.9% 90%);
    --sidebar-ring: hsl(24.6 95% 53.1%);
  }

  .dark {
    --background: hsl(20 14.3% 4.1%);
    --foreground: hsl(60 9.1% 97.8%);

    --card: hsl(20 14.3% 4.1%);
    --card-foreground: hsl(60 9.1% 97.8%);

    --popover: hsl(20 14.3% 4.1%);
    --popover-foreground: hsl(60 9.1% 97.8%);

    --primary: hsl(20.5 90.2% 48.2%);
    --primary-foreground: hsl(60 9.1% 97.8%);

    --secondary: hsl(12 6.5% 15.1%);
    --secondary-foreground: hsl(60 9.1% 97.8%);

    --muted: hsl(12 6.5% 15.1%);
    --muted-foreground: hsl(24 5.4% 63.9%);

    --accent: hsl(12 6.5% 15.1%);
    --accent-foreground: hsl(60 9.1% 97.8%);

    --destructive: hsl(0 72.2% 50.6%);
    --destructive-foreground: hsl(60 9.1% 97.8%);

    --border: hsl(12 6.5% 15.1%);
    --input: hsl(12 6.5% 15.1%);
    --ring: hsl(20.5 90.2% 48.2%);

    --sidebar: hsl(20 14.3% 4.1%);
    --sidebar-foreground: hsl(60 9.1% 97.8%);
    --sidebar-primary: hsl(20.5 90.2% 48.2%);
    --sidebar-primary-foreground: hsl(60 9.1% 97.8%);
    --sidebar-accent: hsl(12 6.5% 15.1%);
    --sidebar-accent-foreground: hsl(60 9.1% 97.8%);
    --sidebar-border: hsl(12 6.5% 15.1%);
    --sidebar-ring: hsl(20.5 90.2% 48.2%);
  }
}

@layer base {
  * {
    font-family: var(--font-nunito), sans-serif;
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  #nprogress .bar {
    @apply bg-primary!;
  }

  #nprogress .peg {
    @apply shadow-md! shadow-primary!;
  }

  #nprogress .spinner-icon {
    @apply border-t-primary! border-l-primary!;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}
